affine==2.2.1
amqp==2.3.2
asn1crypto==0.24.0
attrs==19.1.0
beautifulsoup4==4.6.0
billiard==3.5.0.5
celery==4.2.1
chardet==3.0.4
Cheetah==2.4.4
Click==7.0
click-plugins==1.1.1
cligj==0.5.0
colorlog==4.0.2
crcmod==1.7
cryptography==2.1.4
Django==1.11.17
django-celery-results==1.0.4
enum34==1.1.6
Flask==1.1.1
GDAL==2.3.2
geos==0.2.2
gyp==0.1
html5lib==0.999999999
idna==2.6
ipaddress==1.0.17
itsdangerous==1.1.0
Jinja2==2.10.1
keyring==10.6.0
keyrings.alt==3.0
kombu==4.2.2
libvirt-python==4.0.0
lxml==4.4.1
MarkupSafe==1.1.1
munch==2.3.2
numpy==1.16.5
pandas==0.24.2
Pillow==6.2.0
psycopg2==2.8.3
pycairo==1.16.2
pycrypto==2.6.1
Pygments==2.2.0
pygobject==3.26.1
PyMySQL==0.9.3
pyparsing==2.3.0
python-dateutil==2.8.0
python-dwca-reader==0.13.1
pytz==2019.2
pyxdg==0.25
rasterio==1.0.13
scour==0.36
SecretStorage==2.3.1
six==1.12.0
snuggs==1.4.2
typing==3.6.6
vine==1.1.4
webencodings==0.5
Werkzeug==0.15.5
xlrd==1.2.0
